.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.header .logo-and-user {
  display: flex;
}

.header .logo-and-user h1 {
  margin-left: 20px;
}
