.stripes {
  align-items: center;
  background-color: rgba(80, 80, 80, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.stripe {
  animation-direction: alternate;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
  animation-name: loadingAnimation;
  animation-timing-function: normal;
  background-color: #42c38d;
  height: 15%;
  margin: 20px;
  transform: scale(0.5);
  width: 2.5%;
}

@keyframes loadingAnimation {

  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}
