body, .App {
  height: 100vh;
}

.container-home {
  background-image: url('https://i.imgur.com/SnRE8VA.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}
